extends layout

block content
  h1= title
  div Shaker
  -
    results = [{shaker_type: 'Type: Salt', shaker_size: 'Size: Small', shaker_cost: ('Cost: $' + 5)},
      {shaker_type: 'Type: Pepper', shaker_size: 'Size: Moderate', shaker_cost: ('Cost: $' + 7.5)},
      {shaker_type: 'Type: Parmesan Cheese', shaker_size: 'Size: Large', shaker_cost: ('Cost: $' + 10)}];
  
  div(class="container-fluid")
    div(class="row")
    each object in results
      each item in object
        div(class="col-sm") #{item}
      br
